.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.title-effect {
  position: relative;
  transition: color 0.3s ease;
}
.title-effect::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #0d6efd;
  bottom: -4px;
  left: 0;
  transition: width 0.3s ease;
}
.title-effect:hover {
  color: #0a58ca;
}
.title-effect:hover::after {
  width: 100%;
}
